@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808;
  padding: 2rem 4rem;

  img {
    width: 40px;
    height: auto;
  }

  svg {
    color: white;
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  a:nth-child(2) {
    margin-left: 1.5rem;
  }

  .media-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
  }

  .footer-contact {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: .6;
      }
    }
  }
}