@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

footer {
  display: flex;
  justify-content: space-between;
  background: #080808;
  padding: 2rem 4rem;

  svg {
    color: white;
  }

  a:nth-child(2) {
    margin-left: 1.5rem;
  }

  .footer-contact {
    a {
      text-decoration: none;
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}