@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.homepage {
  background: #080808;

  .featured-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    
    .featured-header {
      width: 500px;
      height: 40px;
      padding: 25px;
      background: url('./too-fast-header.png') no-repeat;
      background-size: contain;
    }
    
    .featured-img {
      width: auto;
      height: auto;
      
      img {
        width: 500px;
        height: 500px;
        border-radius: 8px;
      }
    }

    .featured-links {
      margin-top: 1.5rem;

      ul {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: unset;

        li {
          a {
            display: block;
            width: 150px;
            text-align: center;
            text-decoration: none;
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            
            padding: 1rem;
            border: 3px solid white;
          }
        }
      }
    }
  }
}