@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.homepage {
  background: #080808;

  .featured-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    svg {
      color: white;
    }

    .control-wrapper {
      position: absolute;
      width: 600px;
      top: 45%;
      
      .control-left {
        position: absolute;
        left: 0;
        cursor: pointer;
      }
      
      .control-right {
        position: absolute;
        right: 0;
        cursor: pointer;
      }

      div i svg {
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
          opacity: .6;
        }
      }
    }
    
    .featured-img {
      width: auto;
      height: auto;
      
      img {
        width: 500px;
        height: 500px;
        border-radius: 8px;
      }
    }

    .featured-links {
      margin-top: 1.5rem;

      ul {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: unset;

        li {
          a {
            display: block;
            width: 150px;
            text-align: center;
            text-decoration: none;
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            
            padding: 1rem;
            border: 3px solid white;
            transition: 0.2s ease-in-out;

            &:hover {
              background: white;
              color: black;
            }
          }
        }
      }
    }
  }
}