@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

header {
  display: flex;
  justify-content: space-around;
  background: #121212;
  padding: 2rem;
  
  .logo {
    width: 600px;
    height: 40px;
    animation: 3s glitch infinite step-end;
  }

  .left, .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: unset;

    li:nth-child(1) {
      margin-right: 2rem;
    }

    a {
      text-decoration: none;
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
}

@keyframes glitch {
  0% {
    background: url('./bws-glitch-0.png') no-repeat;
    background-size: contain;
  }
  20% {
    background: url('./bws-glitch-1.png') no-repeat;
    background-size: contain;
  }
  25% {
    background: url('./bws-glitch-2.png') no-repeat;
    background-size: contain;
  }
  30% {
    background: url('./bws-glitch-0.png') no-repeat;
    background-size: contain;
  }
  88% {
    background: url('./bws-glitch-2.png') no-repeat;
    background-size: contain;
  }
  90% {
    background: url('./bws-glitch-3.png') no-repeat;
    background-size: contain;
  }
  92% {
    background: url('./bws-glitch-4.png') no-repeat;
    background-size: contain;
  }
  94% {
    background: url('./bws-glitch-5.png') no-repeat;
    background-size: contain;
  }
  96% {
    background: url('./bws-glitch-6.png') no-repeat;
    background-size: contain;
  }
  100% {
    background: url('./bws-glitch-7.png') no-repeat;
    background-size: contain;
  }
}